<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.auth.mapper.TcRoleButtonRelMapper">
  <resultMap id="BaseResultMap" type="com.xm.auth.domain.entity.TcRoleButtonRel">
    <!--@mbg.generated-->
    <!--@Table tc_role_button_rel-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="button_id" jdbcType="VARCHAR" property="buttonId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="judge_enable" jdbcType="INTEGER" property="judgeEnable" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, button_id, role_id, judge_enable, create_user, create_date, update_user, update_date
  </sql>
</mapper>