<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.file.mapper.TcFileChunkMapper">
  <resultMap id="BaseResultMap" type="com.xm.file.domain.entity.TcFileChunk">
    <!--@mbg.generated-->
    <!--@Table tc_file_chunk-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
    <result column="upload_id" jdbcType="VARCHAR" property="uploadId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="chunk_number" jdbcType="INTEGER" property="chunkNumber" />
    <result column="chunk_size" jdbcType="INTEGER" property="chunkSize" />
    <result column="other1" jdbcType="VARCHAR" property="other1" />
    <result column="other2" jdbcType="VARCHAR" property="other2" />
    <result column="other3" jdbcType="VARCHAR" property="other3" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, md5, upload_id, file_name, file_path, chunk_number, chunk_size, other1, other2, 
    other3, create_date
  </sql>
</mapper>