<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.flowable.mapper.TcBusinessApprovingMapper">
  <resultMap id="BaseResultMap" type="com.xm.flowable.domain.entity.TcBusinessApproving">
    <!--@mbg.generated-->
    <!--@Table tc_business_approving-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="business_id" jdbcType="VARCHAR" property="businessId" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, business_id, business_type, user_id, user_name, create_date
  </sql>
</mapper>