<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.flowable.mapper.TcFlowableModelMapper">
  <resultMap id="BaseResultMap" type="com.xm.flowable.domain.entity.TcFlowableModel">
    <!--@mbg.generated-->
    <!--@Table tc_flowable_model-->
    <id column="process_definition_key" jdbcType="VARCHAR" property="processDefinitionKey" />
    <result column="process_definition_name" jdbcType="VARCHAR" property="processDefinitionName" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    process_definition_key, process_definition_name, create_user, create_date
  </sql>
</mapper>