<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.otherSystem.mapper.KUserMapper">
  <resultMap id="BaseResultMap" type="com.xm.otherSystem.domain.entity.KUser">
    <!--@mbg.generated-->
    <!--@Table k_user-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="jobnumber" jdbcType="VARCHAR" property="jobnumber" />
    <result column="position_level" jdbcType="VARCHAR" property="positionLevel" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="job_grade" jdbcType="VARCHAR" property="jobGrade" />
    <result column="job_level" jdbcType="VARCHAR" property="jobLevel" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="job_duty" jdbcType="VARCHAR" property="jobDuty" />
    <result column="job_duty_code" jdbcType="VARCHAR" property="jobDutyCode" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="dept_ids" jdbcType="VARCHAR" property="deptIds" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="leave_type" jdbcType="INTEGER" property="leaveType" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
    <result column="work_place" jdbcType="VARCHAR" property="workPlace" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="pay_place" jdbcType="VARCHAR" property="payPlace" />
    <result column="dispatch_factory" jdbcType="VARCHAR" property="dispatchFactory" />
    <result column="pay_compute_type" jdbcType="VARCHAR" property="payComputeType" />
    <result column="sex_type" jdbcType="VARCHAR" property="sexType" />
    <result column="cert_no" jdbcType="VARCHAR" property="certNo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="bank_account_no" jdbcType="VARCHAR" property="bankAccountNo" />
    <result column="account_bank" jdbcType="VARCHAR" property="accountBank" />
    <result column="birth_time" jdbcType="DATE" property="birthTime" />
    <result column="last_work_day" jdbcType="DATE" property="lastWorkDay" />
    <result column="leave_reason_type" jdbcType="VARCHAR" property="leaveReasonType" />
    <result column="hired_date" jdbcType="DATE" property="hiredDate" />
    <result column="cert_address" jdbcType="VARCHAR" property="certAddress" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="residence_type" jdbcType="VARCHAR" property="residenceType" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="site" jdbcType="TINYINT" property="site" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, pinyin, jobnumber, position_level, `position`, job_grade, job_level, 
    job_title, job_duty, job_duty_code, dept_id, dept_ids, dept_name, dept_code, leave_type, 
    user_type, user_status, work_place, factory, pay_place, dispatch_factory, pay_compute_type, 
    sex_type, cert_no, phone, bank_account_no, account_bank, birth_time, last_work_day, 
    leave_reason_type, hired_date, cert_address, native_place, residence_type, `state`, 
    site, create_time, update_time
  </sql>
</mapper>