<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.systemFront.mapper.TcSystemFrontTokenMapper">
  <resultMap id="BaseResultMap" type="com.xm.systemFront.domain.entity.TcSystemFrontToken">
    <!--@mbg.generated-->
    <!--@Table tc_system_front_token-->
    <id column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    access_token, `name`
  </sql>
</mapper>